[2016-02-09 09:26] ypriverol opened #3 "Testing files are missing"
@julianu most of the classes do not have a proper testing classes.

[2016-02-21 10:02] ypriverol opened #5 "metadata in PRIDE XML and mztab"
@julianu here how we decided to export metadata from mzidentml -> mztab:
   - https://github.com/PRIDE-Utilities/ms-data-core-api/blob/master/src/main/java/uk/ac/ebi/pride/utilities/data/exporters/MzIdentMLMzTabConverter.java

 and also from PRIDE XML to mztab:
   - https://github.com/PRIDE-Utilities/ms-data-core-api/blob/master/src/main/java/uk/ac/ebi/pride/utilities/data/exporters/PRIDEMzTabConv

[2016-02-22 10:55] julianu commented on #3
True, unfortunately I started late adding proper tests. But we should include them, when adding new classes.

[2016-02-22 11:23] ypriverol commented on #3
@julianu I will start to create test for some of the functionalities.

[2016-02-22 13:23] julianu commented on #5
@ypriverol I have a doubt about the validity of the mzTab file provided for testing. As far as I understand the PSM_ID column, the only thing that my differ on lines having the same PSM_ID is the accession. But there are several lines, which have the same PSM_ID and different sequences in the current file. Is this valid?
I can circumvent problems with this in the importer, but also could give a wa

[2016-02-22 14:17] ypriverol commented on #5
@julian in the mztab specification we don't have anything saying that this is unique, actually I attached here a file with the table of the PSM example section.

<img width="745" alt="screen shot 2016-02-22 at 14 13
03" src="https://cloud.githubusercontent.com/assets/52113/13220527/9ba3a26c-d96e-11e5-9dcf-921a6d4183b5.png">

In the PSM section:

different accessions and the same PSM_ID.

[2016-02-22 14:26] julianu commented on #5
Yes, but that does exactly state, what i would assume and is not fact in the test-file:
Only the accessions should differ, nothing else.

Look at the lines with PSM_ID 923 for in the testfile: there are 6 lines, with the five sequences ILSILR, ILSLLR, LISLIR, LISLLR, LLSLLR. One sequence is double (with different accessions). I would assume, that there should be 6 lines with 5 different PSM_IDs in

[2016-02-22 14:43] ypriverol commented on #5
@julianu I will check the example perhaps is from one of our old exporters. Will check with a new file and I will let you know.

[2016-02-22 15:27] ypriverol commented on #5
@julianu can you point me to this ID? I can't found it.

[2016-02-22 15:33] ypriverol commented on #5
@julianu I found the lines, I will check the issue here and the rationality behind this. Can you check the PRIDE XML import and the metadata.

[2016-02-22 15:41] julianu commented on #5
Yes, will also work on the mzTab importer.
I just need one additional check, if PSM_IDs are used in the way they are used in the testfile.

[2016-02-22 16:11] ypriverol commented on #5
@julianu When we exported from PRIDE XML to mztab we used the spectrum ID as the id, because as you know PRIDE XML removed all the psms and keep for each spectrum only one peptide sequence, then the peptide is repeated for each protein.

The problem is basically that some that the I/L Peptides will reference the same spectrum. We can try to change our exporter. But the current validator works and

[2016-02-23 21:10] ypriverol commented on #5
@julianu here the current example I would like to merge: ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2011/03/PRD000397

[2016-03-04 16:45] ypriverol opened #9 "mztab issues for the PRIDE XML example"
@julianu:
 Some comments about the mztab example:
- [x]  In the metadata modifications are annotated like:

 However, the PSMs contains modifications
- [x] The theoretical mass is not present for any PSM.
- [ ] We add in the document some comments saying that this is annotated like a merge.
- [x] We need to check the how do you define uniqueness at psm level.
- [x] Can be possible to generate stat

[2016-03-04 17:28] julianu commented on #9
Thanks for the comments, most of them should be resolvable.

Comments to two of the points:
* Regarding the PSM uniqueness: a PSM is marked as unique, if it was assigned to only one accession in the imported dataset. For search engine results, this should be unproblematic, but with PRIDE XML, it could be already filtered (there is simply not all protein-PSM information in the file) and therefore m

[2016-03-04 19:50] ypriverol commented on #9
@julianu:
  Regarding the uniqueness we could base our assumption in the filtered data, then it can be
  computed. Then for a PSM to be annotated as non-unique should be associated with more than one
  Protein id.
  Our approach and what we aim to merge all the results into one big peptide file with 1% peptide FDR
  considering peptide as sequence+modifications. For now we can work with 1% FDR at

[2016-03-07 08:41] julianu commented on #9
@ypriverol Ok, so we can check the PSM uniqueness button above ;)

Conceptual, when using the SpectrumExtractor for inference, peptides are not directly referenced, but always PSMs. If we switch to OccamsRazor, a peptide FDR filter (or any other) would be possible. I guess, for PRIDE XML import, there are not many spectra with more than one peptide associated (are there any at all?). If so, using

[2016-03-07 09:07] ypriverol commented on #9
@Julian I guess we can evaluate which of both approaches are better. Things to take into account:
 1 - quality of the results. We are exporting the peptide evidences. Then, an estimation of the FDR at peptide level would be better.
 2 - statistical assessment between both methods.
 3 - performance in terns of time, memory, etc

[2016-05-02 10:39] ypriverol commented on #5
@julianu anything of this?

[2016-05-12 14:58] julianu commented on #5
The metadata are nicely parsed and merged now, #17

[2016-09-06 11:59] olangella opened #39 "PIA Analysis error : No PIA XML file given"
Hello,

First of all, I'm a new a newbie using PIA and KNIME. Perhaps the problem I have is in fact entirely due to my bad understanding of either PIA or KNIME.

So, I would like to use the Protein Inference Algorithms software to benchmark it.
My identification engine is X!Tandem VENGEANCE (2015.12.15).
The output files are in mzIdentML produced by X!Tandem, so I've made a workflow with :
"List F

[2016-09-06 12:37] julianu commented on #39
Hi Olivier,

Please try to open the PIA settings dialog after running the PIA Compiler. The Compiler should be attached to the first input port of the PIA Analysis node. If it is connected like that, select the "gzipped PIA intermediate file" for the "Column to PIA XML file" in the settings dialog and close the dialog with ok (or apply).
Sometimes, especially when the dialog was opened before it w

[2016-09-06 13:34] olangella commented on #39
Yes !
thanks a lot. Indeed, I've just opened the dialog box (the settings were OK) and applied.
This is OK now, I have a "normal" ERROR : ERROR PIA Analysis         0:4        Execute failed: Dangling meta character '*' near index 0
*:reversed
^

I have to select my decoy sequences.
I've tried *:reversed because reversed sequences are tagged this way :
<DBSequence accession="AC207880.3_FGP002" sea

[2016-09-06 13:40] julianu commented on #39
Glad to hear this.

The decoy-regex use Java regexes, so I guess you need to use ".*:reversed", if all your decoy accessions end with the sequence ":reversed".

[2016-09-08 08:38] olangella opened #40 "how to export PIA analysis results ?"
Hello,

I continue my self training using PIA in Knime.
Thanks you help that helped me a lot.

Now, I have a simple workflow from mzid files, to PIA compiler and PIA analysis.

I would like to export the result of the grouping algorithm to something like TSV, XLS or other table format.

I've tried to connect the 3 output link to XLS Writer or XLS sheet appender :
This gives me 3 tables, but I don'

[2016-09-08 09:03] julianu commented on #40
Hej Olivier,

Even though the last output port is still labelled as not implemented, it is working for idXML (OpenMS's format) right now. But, if you really want to get the most out of it (clusters, groups and sub-groups etc.), I would recommend you use the mzIdentML export. Support for this I will upload in a couple of days (it's working here already).

The much simpler CSV-export will also be wo

[2016-09-08 09:19] olangella commented on #40
Thanks for the quick reply,

Yes I can see the hidden lists of accessions. So, if I understand well, each "protein list" defines a group ? There is no problem for me to consider one protein as a group.
If yes, I can get the group informations.
But how can I retrieve clusters ?
Do you think it would be possible to just add some cluster identifiers and groups identifiers in the table ?

Perhaps that

[2016-09-08 09:31] julianu commented on #40
Each entry/row in the protein list is a group, right.
Actually, adding the cluster information can be accomplished easily, yes. I will try to add this in the next update.
IdXML does not really have the concept of clusters, as far as I know.

Just to explain the concept of clusters in PIA, so you are not disappointed if it is not, what you wanted: proteins/peptides/PSMs are in the same cluster, if

[2016-09-08 09:33] julianu commented on #3
Several tests are added now and will be in the future.

[2016-09-08 09:33] #3 closed

[2016-09-08 09:33] olangella commented on #40
Sorry to bother you again,
I've tried the IdXML output, it doesn't complains, but I don't find the corresponding file in my local "PIA analysis" filestore.
I've tried IdXML with the PSM and protein export level.

Perhaps that my PIA analysis node is too old or I don't use it correctly ?

Cheers
Olivier

[2016-09-08 09:40] olangella commented on #40
Yes exactly, the concept of cluster is for me some groups of proteins that share at least one PSM or one peptide.
Thanks for the explanation on groups.
Yes, I would badly need some informations on clusters ;-)
We find this very interesting in our facility.
So I will wait for an update...

Thanks for your help and time
Cheers
Olivier

[2016-09-08 09:41] julianu commented on #40
Please try the "Output File" (or "Output Folder") with the last port. This will write the file to the desired position. If an export level and file format is selected and the node does not give any error or warning, it should export the data.

[2016-09-08 09:51] olangella commented on #40
Thanks again, I've found it and the content is OK.
The default location was in my temporary directory and not in the knime workspace.
But there is no hope to find cluster information in the IdXML output I guess :(

I stay tuned for an update :)
Cheers
Olivier

[2016-09-09 08:06] olangella opened #41 "problem trying to apply a PSM filter on X!Tandem Expect value"
Sorry, it' me again ;-)

I've some difficulties to use the PIA Analysis module and I have some questions about how to use it.

I've set a filter at the PSM level.
I've chosen "X!Tandem expect < 0.01"
saved the resulting tables in XLS sheet adapter (after a column rename).
Then I did the same with :
 "X!Tandem expect < 0.05"
I have the same protein list and same peptide list after an "occam's razor

[2016-09-09 08:52] julianu opened #42 "Make accession parsing optional"
Many programs parse accessions in FASTAs just like:
"everything before the first blank is the accession" (e.g.OpenMS does this)

To make PIA more compatible, make this an optional accession parsing, which can be set and overrides all other parsing options.

[2016-09-09 09:10] julianu commented on #41
It is probably a bit confusing in the beginning:
The filters only apply for the level, where you set them. Meaning: if you apply the PSM filter on the PSM tab in the settings dialog, they are filtered only for the PSM output. If you set them on the peptides level, only the filtered PSMs are used for peptide inference and reported in the respective port. So the ports for PSMs and peptides are NOT (

[2016-09-09 09:38] olangella commented on #41
Yes I had a look at the wiki before but I didn't get that.

Ok, I better understand now. I've checked the base-score too on X!Tandem expect.

So, this is where also I suppose I can filter to remove from inference the contaminant protein accessions, and also perhaps filter the reversed sequences (decoy) ?

Thanks for your help
Olivier

[2016-09-09 09:55] julianu commented on #41
Right, here you can filter for them as well, using regular expressions. A real decoy-filter is under development.
Keep in mind, that when using more than one filter only the "&&" operator is used, which means that only the PSMs which fulfill all filters are passed to the protein inference.

Actually, filtering the decoys here is ok, if you don't want to calculate a protein level FDR (Which I would

[2016-09-12 09:11] julianu commented on #40
Hej Olivier,

If you upgrade the PIA nodes now, you should also get a "clusterID" column in the proteins results. This is an internal integer, but all protein groups with the same ID are in the same PIA intermediate structure, i.e. they have based on the identified peptides given to the PIA compiler a connection between their PSMs/peptides/accessions.

Cheers,
Julian

[2016-09-12 11:20] olangella commented on #40
Thanks for this super fast upgrade. I will test it asap.

Cheers,
Olivier

[2016-09-13 06:56] #5 closed

[2016-10-20 09:36] julianu commented on #40
Hej Olivier,
Did the export work for you now?

Cheers,
Julian

[2016-10-20 09:37] julianu commented on #41
Hej Olivier,
Did the filtering work out? I will shortly put a more elaborate tutorial online as well, which might help you in the future.

[2016-10-20 18:28] olangella commented on #40
Hello Julian,

sorry for the late response, I've forgotten to give some news.
Yes it's Ok. I've the ClusterId column and complete tables using the column rename Knime module.

Thanks for your help,
Olivier

[2016-10-20 18:35] olangella commented on #41
HI Julian,
Your advises were a great help for me. And indeed I've managed to filter my data as desired, but I forgot to make a feed back :(

Thanks again
Olivier

[2016-10-21 07:02] #40 closed

[2016-10-21 07:02] #41 closed

[2017-02-10 16:20] julianu opened #63 "Allow filtering in idXML export"
The idXML exporter is still missing any filtering functionality.
Include the filtering options on the PSM and protein levels.

[2017-02-17 08:52] julianu opened #65 "mzTab: add an (optional) export of the protein sequences"
Yasset requested to add an export of the protein sequences, if available.

It should be in an optional column with the CV MS:1001344 (AA sequence).

[2017-02-17 08:54] julianu commented on #65
implemented by #66

[2017-02-17 08:54] #65 closed

[2017-04-19 14:37] ypriverol opened #74 "The PIAModeller with contains all the nice functions should consume a file insead of PIA Compiler file"
Currently, the only way to apply some statistics on top of a standard file format is with PIACompiler and this needs to be written in an PIA file to be consume by modeller rather than a data structure. This needs to be changed for the user in order to do PIAModeller on top of a standard file format.

[2017-04-19 14:40] julianu commented on #74
An implementation which passes the compilation directly to the modeller, instead of writing it to a file, should fix this and is a very good thing to have.

[2017-05-03 07:23] julianu opened #77 "Alternative sequence and modification encoding"
Implement an alternative export for sequences and modifications together in one string.
* the very simple lowercase-encoding for any modification (GQLTDLGAVNVmTGIyTGR)
* or a better explaining one like GQLTDLGAVNVM(Oxidation)TGIY(Phosphorylation)TGR

[2017-08-08 07:11] julianu commented on #9
mzTab import and export should work by now.
Please re-open a new issue, if something does not work yet.

[2017-08-08 07:11] #9 closed

[2017-10-24 22:24] thinkle12 opened #101 "Null Pointer Exception in Knime PIA analysis using mzIdentml from Comet search results"
Hi, my name is Trent and I have been using PIA the past few weeks in attempt to generate some Protein Inference results from ms2 searches using Mascot and Comet.
I have mostly been using the Knime workspace for protein inference but I would like to move to the command line version in the future with a custom param file as I would like to apply PIA to thousands of searches.

Anyway, I was wondering

[2017-10-24 22:28] ypriverol commented on #101
Do you have problems only with the comet mzid file?. BTW, did you create the mzid comet file ?

[2017-10-24 22:34] thinkle12 commented on #101
Correct, the Mascot mzid file works just fine, The Comet mzid file generates the null pointer exception error. I ran a search that generated a comet pepxml file. After that I used ProteoWizard to transform the comet pepxml file to a mzid file. I did the same thing with Mascot. Ideally I want to combine the search results of comet and mascot here but I am unable to get PIA to work with the comet re

[2017-10-25 00:21] ypriverol commented on #101
I have tested the files with the latest version and it worrks perfectly well. I need to test the KNIME plugin now

[2017-10-25 00:51] ypriverol commented on #101
if you are interesting in the coding side, here the code:

[code]

[2017-10-25 01:50] thinkle12 commented on #101
We're you able to get the file to work with Knime?
Also could you potentially provide the pia parameter file you used to make PIA work via command line?

[2017-10-25 06:05] julianu commented on #101
Hi, the KNIME nodes are not up-to-date currently, but I am working on an update, which should be out in a few days.
But I will also have a look at your file in the development version and see, what exactly causes the error.

[2017-10-25 06:14] julianu commented on #101
BTW: I was thinking about creating a param-file-creation-node or somthing, which writes out the param file for command line usage from KNIME. Do you mind creating a new "enhancement" issue?

[2017-10-25 09:22] julianu commented on #101
Update: I can reproduce the error in the KNIME-node and will have a look, where this exception is thrown.

[2017-10-25 16:41] thinkle12 opened #102 "Make a Knime node that creates a PIA Parameter File"
Creating custom parameter files for command line use is difficult. Being able to have a Knime node which write out a param file for command line use would be effective for transferring analysis from Knime to command line.

Edit: I am not sure how to tag this as an Enhancement Issue?

[2017-10-27 08:36] julianu commented on #101
Update2: I think I found the problem: in the stable KNIME nodes, the comet-scores don't get parsed for some reason. Having no score and trying to get them gives the Null-Pointer (not a nice error message, fill fix that as well).

Unfortunately, there is also some issue with the jmzIdenML library I am currently using in the development-version. It is a bit slow (meaning: reading in the mzId files t

[2017-10-27 18:26] thinkle12 commented on #101
I have noticed something when using PIA on command line. It seems that when the mzid is compiled to a pia.xml that some of the scores are passed to `Score` and others are passed to `userParam`
Here is an example from a pia.xml from a mascot search with percolator

[code]
 <spectrumMatch charge="2" deltaMass="-0.010198999999943226" fileRef="1" id="16" massToCharge="453.72162696688" missed="0" seque

[2017-10-28 12:05] julianu commented on #101
Yes, that's exactly the problem I meant above: the stable version of PIA does not yet recognize all the scores, although it obviously should. It still tries to fetch all data of the PSM, thus some unrecognized scores become userParams.
Anyways, fixing this should be relatively straight forward. I will attend to a conference from tomorrow until midweek though... maybe I find some time to fix this t

[2017-10-30 16:00] thinkle12 commented on #101
Great, thank you so much I really appreciate you taking the time to help me out. I am really hoping to use Percolator scores, Comet scores, and Mascot scores.

[2017-10-30 22:03] julianu commented on #101
Jepp, thought so @ypriverol. Usually, PIA should pick up all kinds of spectrum ID scores from mzIdentML automagically, though. Maybe something is missing there, I will investigate that as well.
Then, I just need to put it into the KNIME nodes and hope, that I get a new release there soon. I will inform you, as soon as I sorted all out.

[2017-10-30 22:05] thinkle12 commented on #101
So, is the update available in the command line version currently?

[2017-10-31 05:35] julianu commented on #101
Only if you compile the source, I am afraid. And there is this problem with the slow mzIdentML implementation currently. I will make a new release of the command line version at the end of this week, which should hopefully work with your files.

[2017-10-31 18:04] thinkle12 commented on #101
Great, thank you for this.
Here are some test mzidentML files if you need any. One of the files has mascot and percolator scores, the other has comet scores.
https://nofile.io/f/vtZE568dzA5/130707-comet.mzid
https://nofile.io/f/fzXRzhmrFNw/mascot_and_percolator_scores.mzid

Also, I think it would be very beneficial for users if this page was updated with all of the score names:
https://github.com/

[2017-11-01 08:40] julianu opened #104 "Make a better choice of how the PSM sets are created"
It is set to use only M/Z and RT as default right now.

- [ ] if only one file, more fields (especially sourceID, if given) could be used without problem
- [ ] if multiple files should be compared, make choice possible in KNIME (command line has this anyways), also show recommendations for this in the comparison node
- [ ] maybe add something to the command line, which will allow an educate guess

[2017-11-02 15:45] julianu commented on #101
Ok, the parsing of your files is now working.
The problem was that actually all Comet scores were "userParams" instead of "cvParams", which is probably a problem of ProteoWizard. Did you use the newest version? If so, they should update their CV-ontology versions.
Anyways, both files work now. And if you want to process the Comet files with percolator as well, that should also work (if the naming

[2017-11-02 19:01] thinkle12 commented on #101
Awesome thank you.
I believe I used the newest version of ProteoWizard...
So correct me if I am wrong but will I need to edit the mzid's to have the Comet and Percolator scores be called "cvParams" with proper accession numbers? Or will it work with them as "userParams" now too without accession numbers?
And yes you can certainly use my file in the repository for CI testing.

[2017-11-03 08:07] julianu commented on #101
Hej @thinkle12, you should not have to edit the mzid files at all, no. PIA will take care of it and also parse the userParams as scores. Actually, if exporting into mzId again, they should become cvParams, if they are in the CV (and I included them in the set of known scores).

Anyways, this looks like a different error. Could you try again with an not-edited direct ProteoWizard export and if the

[2017-11-06 18:24] thinkle12 opened #105 "Include FDR q value in command line output"
Hi all, its me again...

I was wondering if it is possible to include "FDR q values" in the `-proteinExport` output from command line. I suppose I can calculate FDR myself by just simply counting decoys based on a score threshold. However, I just wanted to point this out. The output from command line I see is as follows:
[code]

Within Knime this information is output as follows:
[code]

Where the

[2017-11-07 18:29] thinkle12 commented on #101
Hi @julianu, The percolator scores are not being parsed every time... For example the file:
https://nofile.io/f/07m2GJaEWef/130707-comet-perc.pep.mzid
Is a comet mzid with comet and percolator scores as follows:
[code]
As we can see they are all userParams...
I ran the following command:
`java -Xmx6G -cp pia-1.3.5.jar de.mpc.pia.intermediate.compiler.PIACompiler -infile 130707-comet-perc.pep.mzid

[2017-11-08 15:42] julianu commented on #105
Hej Trent, right, that should be included into the command line output as well.

To get coverage results, the complete protein sequence must be given in the search results. Some formats contain these, some don't. But right, using OpenMS's PeptideIndexer is one easy way to solve this issue.

[2017-11-08 15:49] julianu commented on #101
Ok, so is the provided file at https://nofile.io/f/sMav9bsAgPA/comet_perc.pia.xml an unedited comet output, meaning the output of ProteoWizard? I assumed the same naming as from the Mascot example, but looks like it's different.
Anyways, it is no problem to adjust the parser to work correctly with this. I will do so ASAP, probably beginning of next week though.

[2017-11-08 21:24] thinkle12 commented on #101
Yes, the file is unedited out of ProteoWizard... But I realized my naming convention was incorrect I needed to use "Q value" and "PEP" but I used "percolator:Q value" and "percolator:PEP". Simply was a naming convention issue which I fixed

[2017-11-08 21:44] thinkle12 commented on #101
I did have another issue with filesize now actually... I am unable to bypass the following error with this file:
https://nofile.io/f/uDVcQFGzbGv/130835-comet-with-perc.mzid
[code]

Is the file simply too large? and could increasing -Xmx6G to a larger value help?

[2017-11-09 18:02] julianu commented on #101
First to your previous comment: you said your naming convention was wrong? So, if you are putting the percolator scores into the mzid files, you should definitely use the cvParams with correct accessions and names. Otherwise: I will adjust the parser to work with the file provided.

Next: PIA is very memory hungry at the moment, yes. So, giving it enough memory is always good, also to speed things

[2017-11-10 22:14] thinkle12 commented on #101
Thanks for the reply, I actually got all the PIA runs to go through thankfully by increasing the memory which is good (They still took a long time to work but at least they went through).

The new error is less important seeing as I can actually get the runs to go through with the large files (The reason I attempted the run with only rank 1 information in the mzid in the first place was because I

[2017-11-17 20:44] thinkle12 commented on #105
Hi @julianu, Could you also potentially add ClusterID as well to the command line output? Currently without that we do not see proper subset grouping. Meaning in the PIa protein output, I see many cases where we have 1 protein ie (USP9X) and an isoform of it (USP9X-1). The entirety of (USP9X) in terms of peptides from the search are also in (USP9X-1). However, (USP9X-1) has 1 unique peptide. After

[2017-11-20 10:00] ypriverol opened #106 "Parsing the PepXML files"
We need to be able to parse the pepXML files which enable to support original results from TPP and other search engines.

[2017-11-23 10:13] julianu commented on #106
I will add this, will be back, if I need more info and/or have some progress.

[2017-11-23 10:15] julianu commented on #105
Hej @thinkle12 ,
I will make the CSV export essentially the same as the KNIME tables, or at least containing all information. Stay tuned, will inform you on any progress at this site.

[2017-11-29 08:46] julianu commented on #101
Hej @thinkle12,
regarding the error in your post before the last one: I cannot reproduce it with the file you sent me.
But is it anyway still a problem, as you were able to use the file containing all identifications? If it is no problem any more, I will close this bug.

[2017-12-24 16:14] cksakura opened #108 "Question about the -proteinExport function"
Hello,
I tried the -proteinExport function for processing the sample data and found problems in the result. I used the command line `-infile yeast-gold-015-filtered.pia.xml -paramFile parameter.xml -proteinExport yeast-gold-015-filtered.csv csv`, the parameter file is the sample provided at [https://github.com/mpc-bioinformatics/pia/wiki/parameters-XML-file](url) and I changed the score names.

`<

[2017-12-28 19:54] julianu commented on #108
Hello Kai Cheng, I will have a look into the problem when I am back from the christmas holidays. Please stand by...

[2017-12-28 20:17] cksakura commented on #108
Hello Uszkoreit,

Thank you very much, please take your time.
Happy holidays!

Best regards,
Kai

On 28 December 2017 at 14:54, Julian Uszkoreit <notifications@github.com>
wrote:

[2018-01-16 19:17] julianu commented on #108
Hej Kai,

Sorry for the long delay, but here are the answers to your problem:
1) In the PSMAddPreferredFDRScore tags, the "short versions" of the score names must be used. At https://github.com/mpc-bioinformatics/pia/wiki/Score-Names is a (not complete) list of these. So, if you wanted to use the pre-calculated FDR q-values, psm_q_value would be correct, and xtandem_expect for the X!Tandem expect

[2018-01-16 21:37] cksakura commented on #108
Hello Julian,

I'm very appreciate for your help, it works well now.
May I ask a question?
From the web server of PIA, I find in the ProteinInfereProteins tag, there
are two options for "used spectra", "best" and "all" (I'm not sure if more
options exist). Which one dose you recommend?
Generally, is there a set of "recommended parameters" for this task?

Thank you again for your response.

Best re

[2018-01-17 15:23] julianu commented on #108
Hej Kai,

There are only two options, the named "best" and "all". I would recommend "best", as otherwise you will have a heavy bias on proteins, which were found by many spectra, but maybe only few peptides. If that is, what you need, you can use "all".

For "recommended parameters", there are some, which are basically the ones set in the KNIME nodes (and also the slightly outdated web application

[2018-01-17 15:29] cksakura commented on #108
Hello Julian,

Thanks a lot!

Best regards,
Kai

On 17 January 2018 at 10:23, Julian Uszkoreit <notifications@github.com>
wrote:

[2018-01-18 12:06] #108 closed

[2018-04-20 14:15] ypriverol opened #114 "Taking time the test running"
@julianu testPIACompilerNativeFiles take a lot of time to run.

[2018-05-22 14:08] robert-winkler opened #115 "Naming of exported file"
For batch processing it would be great, if the name of the exported file would be related to the file name of the searched spectrum.

[2018-05-23 14:57] #101 closed

[2018-06-06 13:14] julianu commented on #114
Resolved by #116

[2018-06-06 13:14] #114 closed

[2018-08-10 09:52] mchiapello opened #117 "DIA"
Does PIA work also with DIA data?

Is there a way to integrate the [OpenSwath pipeline](http://www.openswath.org/en/latest/index.html#) with PIA?

[2018-08-10 10:40] julianu commented on #117
Hej Marco,
Actually, PIA should work with DIA data as well, as long as you only want to look at the identification values. I never tried it with OpenSwath, though trying it out is on my agenda.
Does OpenSwath work with idXML files for identification, or mzIdentML, like OpenMS? If yes, could you maybe provide some files for a test run? If not, what file format is used by OpenSwath for identificatio

[2018-08-10 11:05] mchiapello commented on #117
Hi Julian,
thank you for the quick reply.

I just started working with DIA and I have not real experience with OpenSwath, but I believe it can not work with idXML or mzIdentML files, like OpenMS. Nevertheless I will investigate.

OpenSwath uses for identification mzML files and produces 2 outputs:
- Extracted chromatograms (as mzML)
- Identified peaks (as tsv)

Hope this help.

[2018-08-10 15:17] mchiapello commented on #117
This means PIA is not doing any quantification, right?

[2018-08-10 15:25] julianu commented on #117
Right, PIA can only create the protein grouping on the given peptide identifications. This information can be passed on to protein quantifiers, though. It works currently nice together with OpenMS, hence the question above.

Hm... if there is only a TSV probably some implementation work is needed to get it to work with openSWATH. As mentioned, I would like to give it a try, but can currently not p

[2018-08-10 15:32] mchiapello commented on #117
At which "protein quantifiers" do you refer to?

I doubled check with my collegues and they confirmed that OpenSWATH does not use mzIdentML or idXML.

[2018-08-10 15:36] julianu commented on #117
I am referring to the OpenMS tool/module ProteinQuantifier (http://ftp.mi.fu-berlin.de/pub/OpenMS/release-documentation/html/TOPP_ProteinQuantifier.html). This takes the grouping of PIA (peptides assigned to protein groups) and uses it for the calculation of protein quantifications.

[2018-08-10 18:59] mchiapello commented on #117
I enquired the openswath's developer, here the replay:

TraML, which can be generated from pepXML/mzIdentML/idXML via SpectraST.

Is it what you were referring to?

Il ven 10 ago 2018, 17:36 Julian Uszkoreit <notifications@github.com> ha
scritto:

[2018-08-16 07:09] julianu commented on #117
Yes, this is what I meant, that you can use PIA for the merging of search engine results and calculating the FDR. After an mzIdentML export, you might be able to format this into TraML (which I have not testet, though).

[2018-08-16 10:11] mchiapello commented on #117
The plan is:
1. Use PIA on DDA searches
1. Format the result file into TraML
1. Use OpenSwath to do the DIA analysis

Do you think we need one more step of protein inference?

[2018-08-16 14:39] julianu commented on #117
You obviously need any protein inference, if you want to go from the identified/quantified peptides of your DIA experiment to the corresponding proteins.
But as said before, I don't know the formats  OpenSWATH is using there and therefore whether PIA can process them or help you with this (yet).

[2018-09-12 13:14] julianu commented on #105
This should be fixed now by #119

[2018-09-12 13:14] #105 closed

[2018-09-12 17:55] julianu commented on #63
Added in #120

[2018-09-12 17:55] #63 closed

[2018-10-31 16:59] ypriverol opened #124 "Filters for PSM-Peptides using Search Engine provisioning"
Some pipelines need to filter PSMs taking into account the Search Engine provisioning (which search engines have identified the corresponding spectrum), we see two cased here:

- [x] Filter Peptides that are not identified by all search engines.  PR https://github.com/mpc-bioinformatics/pia/pull/123

- [ ] Filter peptides identifications if the corresponding spectrum was identified with different

[2018-10-31 17:13] ypriverol opened #125 "Class FDR, q-values"
We need to have a way of computing the FDR for classes of PSMs - Peptides and Proteins. This classes can be :
 - [ ] General Modified: FDR for peptides modified.
 - [ ] Specific Modification FDR. FDR for Phosphorylated Peptides.
 - [ ] Misscleavage (0 , 1, 2)
 - [ ] CvParam Classification. We can assign to each psm (using cvParam) the tissue, cell type, or disease where it has been found and we ca

[2018-11-01 08:49] ypriverol opened #126 "Phosphorylation localisation score, fdr."
We need to include in PÍA a phosphorylation localización score and FDR .
I see so far two popular scores A-score and PhosphoRS for the localisation score. I will provide some code.

[2018-11-01 08:51] ypriverol opened #127 "Json or Yaml config file."
We should implement a way to provide parameters in Json or yaml file and move out of xml confía file.

[2018-11-27 15:10] julianu commented on #124
There is a new filter named "PSM_SET_CONTAINS_SCORE_FILTER" now (see PR #123).
This works like a normal literal filter and only PSM sets containing the given score are passed on. If you require more than one (like all) scores, just add all. The test-file `SearchEngineFilterTest` demonstrates this in more detail.

[2018-11-27 15:32] ypriverol commented on #124
I will close the issue.

[2018-11-27 15:33] julianu commented on #124
No, teh second task is still missing ;)

[2019-01-12 11:01] ypriverol opened #129 "Can we do a new release."
@julianu can we do a new release including the new filters for the multi-search engine.

[2019-01-13 18:00] ypriverol opened #130 "Filtering not working"
Hi @julianu the filtering is not working in this pipeline https://github.com/bigbio/nf-workflows/tree/master/xt-msgf-nf .

HEre the files mzids from XTandem and mgf plus + pia config.
[output-mzids.zip](https://github.com/mpc-bioinformatics/pia/files/2753323/output-mzids.zip)

The mztab exported contains 50% TP and 50% FP. Is not filtering.

Regards
Yasset

[2019-01-14 22:53] ypriverol commented on #130
sorry these are the results files
[files.zip](https://github.com/mpc-bioinformatics/pia/files/2757372/files.zip)

[2019-01-15 11:10] ypriverol opened #131 "Export not working combined PSM + Proteins in the mzTab"
The following command:

export only the last option before `${pia_xml}.mztab` in this case **PSMs** if I switch `-psmExport` by `-proteinExport` is exporting only the proteins.

Regards
Yasset

[2019-01-16 14:23] ypriverol commented on #131
I have solve the problem and fix the error. I will create an example.

[2019-01-16 14:23] #131 closed

[2019-01-19 19:14] ypriverol opened #132 "Error fixing when input mzTab do not contains proteins."
When the inputfiles of the compiler are mztab without proteins. PIA fails with a null exception in the mztab reader.

[2019-01-19 20:53] ypriverol commented on #132
Bug fixed, PR pending.

[2019-01-19 20:53] #132 closed

[2019-01-19 20:54] ypriverol opened #133 "PSM ms_run[] get repeated in mztab export."
For some reason PSM ms_run[] get repeated in mztab export. Here and exmaple:

PSM     FGIAAK  1       P21796  0       databaseName    null    [MS, MS:1002387, PIA, 1.3.10]|[PSI-MS, MS:1001476, X!Tandem, X! Tandem Alanine (2017.2.1.4)]|[PSI-MS, MS:1002048, MS-GF+, Release (v2017.07.21)]        0.003638683087973093    0.0075  20.0    0.004483837330552659    115.0   1.7413855E-8    0.34254366      nu

[2019-01-19 23:05] ypriverol commented on #133
Error found and fixed, PR pending. One questions for @julianu .

In the mztab export when you export one PSM (that is a PSMSet) that contains a list psms. We use to export all the ms_runs even if the scores are different. IS that correct @julianu see line:

https://github.com/mpc-bioinformatics/pia/blob/878f40382e2f24fab1a375ccaa0cf6504ee337d5/src/main/java/de/mpc/pia/modeller/exporter/MzTabExport

[2019-01-19 23:38] ypriverol opened #134 "Error in mzTab Parser reading the identification protocols affect the Generation of Compiler file"
When merging to mztab, error reading Identification protocols.

[2019-01-21 14:32] ypriverol opened #135 "Export to mztab with Protein + PSMs is not working"
The export to mztab using Proteins and PSMs is not working. Only one of them at a time.

[2019-01-23 15:53] ypriverol commented on #133
Yes. Still you should read my comment before.

[2019-01-24 15:55] julianu commented on #133
When exporting PSMSets, all scores of the PSMs of the set will be exported, yes.
When using only one search engine and combining the results of multiple ms_runs, no sets need to be created (and actually should, if everything goes well, have just one PSM if sets were created.)

[2019-01-24 16:53] julianu commented on #134
Could you please provide me with files, where this happens?

[2019-01-24 17:09] julianu commented on #135
This should be fixed in #137 , please test.

[2019-01-25 10:31] ypriverol commented on #126
We will implement a different tool for protein phosphorylation annotation in mzIndetML and mzTab.

[2019-01-25 11:21] ypriverol opened #139 "Code refactoring for HashCode generation"
The current code uses HashCodeBuilder as a mechanism to create the HashCode and equals. This is not efficient because every time a comparison is performed then an Object needs to be created.

@julianu

[2019-01-27 23:24] ypriverol opened #140 "Review the dependency of inspector-ms-graph"
Hi @julianu

I think we should discuss the dependency of inspector-mz-graph in PIA. This introduces a lot of redundant dependencies that are not needed. This part of PIA can be removed and move into a desktop component. In addition in add a lot of swing classes into a backend algorithm.

What do you think?

[2019-01-30 14:20] ypriverol commented on #140
the following PR address this issue: https://github.com/mpc-bioinformatics/pia/pull/141

[2019-01-30 14:20] ypriverol commented on #139
the following PR address this issue: https://github.com/mpc-bioinformatics/pia/pull/141

[2019-01-30 14:21] ypriverol commented on #129
We should do a Release after the following PR https://github.com/mpc-bioinformatics/pia/pull/141 is merged.

[2019-02-01 21:37] ypriverol opened #142 "The support to Tide is not working properly."
Tide support is not working properly when generating the compiler file with this example.
[test.mgf.tide.txt](https://github.com/mpc-bioinformatics/pia/files/2823434/test.mgf.tide.txt)

[2019-02-12 09:36] julianu commented on #140
The dependencies are removed and only in the KNIME version now.

[2019-02-12 09:36] #140 closed

[2019-02-12 09:37] julianu commented on #139
Thanks for the improvement!

[2019-02-12 09:37] #139 closed

[2019-02-20 09:42] julianu commented on #129
Done, release 1.3.10 is deployed.

[2019-02-20 09:42] #129 closed

[2019-12-05 21:55] bittremieux opened #149 "Specify score column in mzTab file"
I have two score columns in mzTab files generated by [ANN-SoLo](https://github.com/bittremieux/ANN-SoLo):

- The shifted dot product score, accession `MTD	psm_search_engine_score[1]	[MS, MS:1001143, search engine specific score for PSMs,]`
- The (subgroup) FDR, accession `MTD	psm_search_engine_score[2]	[MS, MS:1002354, PSM-level q-value,]`

PIA doesn't seem to know how to handle a search engine sp

[2019-12-05 22:12] bittremieux opened #150 "XML export error"
I get the following error when PIA tries to write its XML output:

[code]

Could this be due to an outdated version of JAXB that's not compatible with my Java version? For example, see https://github.com/eclipse-ee4j/jaxb-api/issues/78 and https://stackoverflow.com/a/43574427.

I'm using Java version 13.0.1, while the pom file seems to indicate [a PRIDE version 1.0.22 of JAXB is used](https://gith

[2019-12-06 08:07] julianu commented on #150
Yes, this is a JAXB incompatibility with new Java versions (new being >= 9).
Did you download the latest version or tried directly the GitHub version? If the version, could you please try the GitHub version. I had this problem before and at least for some versions it is fixed, but not released yet.

[2019-12-09 19:58] bittremieux commented on #150
This was with version 1.3.10, the latest release available.

Do you mean to build the jar from `master` instead?

[2019-12-10 09:48] julianu commented on #150
I just figured out the JAXB dependency was only in my private branch up to now. A new release was just added which should contain a fix for this.
Please let me know, whether this solves the issue.

[2019-12-12 16:10] julianu commented on #149
Hej Wout,

Actually, the fastest way to get it running with PIA would be to add the ANN-solo terms to the PSI-OBO by asking @germa . Afterrards, PIA should directly use the updated PSI-OBO and your files should be processed correctly.

Otherwise, I could add a way to add generic scores, but that might take some more time right now, I am afraid.

[2019-12-12 22:11] bittremieux commented on #150
Yes, the JAXB error is fixed for version 1.3.11. Thanks.

[2019-12-12 22:11] #150 closed

[2019-12-12 22:57] bittremieux commented on #149
Thanks for the tips. I've written a simple post-processing script to remove the dot product score column from my mzTab files. There's still a q-value score column as well that PIA is able to use.

This issue can be closed or not depending on your preference.

[2019-12-13 07:37] julianu commented on #149
Ok, I will mark this as solved and put a generic score parser on my TODO.

[2019-12-13 07:37] #149 closed

[2020-08-10 08:47] #135 closed

[2020-10-06 12:57] giangiacomoberetta1 opened #159 "Last version of PIA fails on idxML format export file"
Hi !

I am experiencing a problem with the PIA node as it fails when the exportation format idxML is selected.

With the other options it works fine. It is still nice when working on protein inference only, but it hampers its connection with other downstream nodes requiring idxML format.

Thanks in advance!

[2020-10-21 14:59] julianu commented on #159
Hej,

Thanks for pointing this out. I will look into this as soon as possible.
Nevertheless, could you specify the build number of the PIA and OpenMS version you installed, including the date strings?

Thanks,
Julian

[2020-10-21 18:35] giangiacomoberetta1 commented on #159
Hi Julian!

Thank you for considering my issue!

The versions currently installed are:

OpenMS	 2.6.0.202009301213      de.openms.feature.feature.group
PIA           1.3.13.v202009091421   de.mpc.pia.feature.feature.group

Thanks!

G

[2020-11-05 14:49] julianu commented on #159
Hej giangiacomo,

I just tested the tutorial quant workflow (https://hub.knime.com/julianu/spaces/PIA/latest/02-PIA_and_quant) and on my installation it works with OpenMS 2.6.0 and PIA 1.3.13 using the tutorial data (https://github.com/julianu/pia-tutorial/tree/master/data).

Could you please check, whether this works on your side?
And maybe provide me with a workflow and data where your error occ

[2020-11-11 11:37] julianu commented on #159
Hej,

I managed to also create an error for the export from OpenMS 2.6.0 files and will try to fix this.

@giangiacomoberetta1 Could you still provide me with files from your side which fail, to double check them?

Thanks,
Julian

[2020-11-11 14:46] giangiacomoberetta1 commented on #159
Hi J!

Sorry for the delay in the reply!

I have tested the tutorial workflow and files. In my installation PIA works fine when exportation format is set to "mztab" and "csv" format (exportation level: protein), otherwise it comes out with the error message:

ERROR PIA Analysis         0:567      Execute failed: ("NullPointerException"): null

When exportation level is set to "PSM" or "peptide", o

[2020-11-11 15:52] julianu commented on #159
Hej,

Most convenient would be if you could attach the workflow in a comment here.
Make sure to not reset the workflow on export in KNIME.

Best,
Julian

[2020-11-11 18:29] giangiacomoberetta1 commented on #159
OK! is it correct in this way ?

[02-PIA_and_quant_TEST_combination.zip](https://github.com/mpc-bioinformatics/pia/files/5526002/02-PIA_and_quant_TEST_combination.zip)

[2020-11-12 07:43] julianu commented on #159
Hej @giangiacomoberetta1 ,

I see you added some additional identification nodes to the basic tutorial workflow, great.
For the purpose of debugging your exact problem (with your data) could you run the workflow up until the PIA node which has the error and then export the workflow? In your case, the first zipLoop, containing the identification and also the FeatureFinderIdentification, would be gr

[2020-11-12 12:55] giangiacomoberetta1 commented on #159
Hi @julianu !

Thank you as always! I just need an advice. Which option should I use to export the complete workflow ?

Is "Export KNIME workflow" option producing the suitable files?

 best greetings,

G

[2020-11-12 13:23] julianu commented on #159
Yes, this export option should work.
Only make sure to not select the "Reset workflow(s) before export".

[2020-11-12 14:31] giangiacomoberetta1 commented on #159
Great! Thank you for the instruction.

The final file is almost 500 Gb big, so cannot be uploaded here.

How to do it?!

Thanks!

G

[2020-11-12 14:41] julianu commented on #159
@giangiacomoberetta1 please contact me at julian.uszkoreit [at] rub.de to share the file.

[2021-01-18 10:45] giangiacomoberetta1 commented on #159
Hi @julianu,

yes sure. Just I am unsure how to apply the update? Can I do it through a KNIME option?

[2021-01-18 10:47] giangiacomoberetta1 commented on #159
@julianu I see an update option available now for PIA in KNIME

[2021-01-18 11:33] giangiacomoberetta1 commented on #159
Test done, it's working greatly!

[2021-01-18 11:37] julianu commented on #159
Perfect, then I will close this issue.

[2021-01-18 11:37] #159 closed

[2021-03-12 19:41] cctsou opened #163 "CSV format for PSM results as input file"
Hi,

Does PIA accept PSM result input in simple TSV / CSV format? If yes, what does the format look like?

Thanks,

[2021-03-15 16:21] julianu commented on #163
Hej @cctsou ,

PIA currently supports using files created by Tide, see e.g. https://github.com/mpc-bioinformatics/pia/blob/master/src/test/resources/tide-search-cut.txt

If you can bring your CSV in this format, you should be able to parse them with PIA.

Best,
Julian

[2021-03-23 03:17] cksakura opened #164 "Problem when running CMD"
Hello,

I encountered this problem when I use the CMD to run the PIA:

com.ctc.wstx.exc.WstxUnexpectedCharException: Unexpected character 'f' (code 102) in prolog; expected '<'
 at [row,col {unknown-source}]: [1,1]
	at com.ctc.wstx.sr.StreamScanner.throwUnexpectedChar(StreamScanner.java:653)
	at com.ctc.wstx.sr.BasicStreamReader.nextFromProlog(BasicStreamReader.java:2133)
	at com.ctc.wstx.sr.Basic

[2021-03-29 08:38] julianu commented on #164
Apologies for the late reply, but could you elaborate, how you called PIA from the CLI?
Could you maybe also post the param file here, so I can double check it?

The generation of an "analysis pipeline file" via the command line is discouraged and, I am afraid, a bit out of date, if you tried this way. More effort went into the KNIME nodes lately and an update of the CLI is lacking behind.

[2021-07-19 04:11] xiweifan opened #165 "Data processing with MSI dataset"
Hi Julian,

I am wondering if PIA can adapt imaging MS data like imzML. This format is used for new bruker MALDI-TOF and it seems there is no way to transfer the imzML file into other format that can be used for PIA?

Reference: https://ms-imaging.org/wp/

Thanks,
Xiwei

[2021-07-19 07:46] julianu commented on #165
Hej Xiwei,

The actual source of the identification data for PIA does not really matter, but if you cannot transform it into mzIdentML, could you maybe  inform me on which format is usually used?

Anyway, to be honest, I am not aware of an imaging workflow that would need a PIA processing? If you perform a separate LC-MS/MS run for identification, PIA obviously should work. But are there also ways

[2021-07-19 08:28] xiweifan commented on #165
Hi Julian,

Thank you for your timely reply! The normal data format for MSI is the imzML file. The imzML file mainly consists of two files: **.imzML and **.ibd. This is the reference paper for the introduction of the file format: https://link.springer.com/protocol/10.1007%2F978-1-60761-987-1_12.

And actually, there is a huge potential for the PIA used in MSI data, except for generating images wit

[2021-07-19 08:45] julianu commented on #165
Hej Xiwei,

Yes, I know the imzML format, but these are all spectrum-only formats if I am not mistaken.
PIA on the other hands needs peptide (respectively spectrum) identifications to perform the inference, as results of a peptide search engine, which are usually stored in mzId or any vendor format (Mascot dat, ProteomeDiscoverer MSF etc.). Do you have any of these for imaging data?

Best,
Julian

[2021-07-19 08:58] xiweifan commented on #165
Hi Julian,

Yes, I have, I am wondering how I can transfer that to you? Could I send that to your email if possible?

Thanks,
Xiwei

[2021-07-19 09:04] xiweifan commented on #165
Hi Julian,

I have no idea but a peak list with intensity is definitely available. I assume that is enough for PSM using the decoy database?

Thanks,
Xiwei

[2021-07-20 07:21] julianu commented on #165
Hej Xiwei,

If these spectra are MS/MS spectra (on the UTX you needed the "LIFT" for this) you could identify them. But, as you have no prior separation of peptides nor proteins, you will get a mixture of all peptide fragments in one "pixel". These you might get identified like DIA data, but as you have no chromatography at all, I guess it might get quite tricky.
But as I say, this is just my curr

[2021-08-02 08:49] julianu commented on #163
Hej @cctsou ,

Could you solve your problem?

Best,
Julian

[2021-08-17 15:40] mcburke-msdc commented on #163
I have formatted PSM results using the Tide example provided, but I have not been able to parse them with PIA within knime.  In particular, I am unsure of how to configure PIA Compiler.  What changes should be made to the configuration compared to providing input in idXML format?

Thank you.

[2022-01-20 09:33] algalcms opened #186 "PIA error in KNIME"
Hi, I am trying to use PIA in Knime for analysis of LC/MS data, but during start of the PIA the node with ID suffix 570 (PIA compiler) crashes, and I receive following error log:
ERROR 01-PIA_first_analysis 0          Unable to load node with ID suffix 570 into workflow, skipping it: javax/xml/bind/JAXBException
ERROR LoadWorkflowRunnable            Errors during load: Status: Error: 01-PIA_first_

[2022-01-20 11:30] julianu commented on #186
Hej @algalcms ,
Could you provide the version of KNIME and the PIA plugin you are using?

[2022-01-20 11:34] algalcms commented on #186
Hi,
I am using Knime 4.5, PIA version 1.3.13 and OpenMS 2.7 .

[2022-01-20 12:34] julianu commented on #186
Could you please try to upgrade to the newest version of the PIA plugin? There was a major internal change for KNIME 4.4 which took place some versions later than 1.3.13

[2022-01-20 12:53] algalcms commented on #186
Hi, thank you so much to help me.
I tried to update the PIA, but I got error again. See the attached pix. When I want to add PIA compiler manually directly from node repository, I also receive an error. I do not know, where I have to uninstall the PIA first, Im not able to find uninstall option.

![pia1](https://user-images.githubusercontent.com/98087275/150342223-6a961817-19cf-48fb-9846-30b4a310e

[2022-01-20 14:56] julianu commented on #186
Hm, this looks weird. The error rather indicates, that there is the old version still used, which breaks with KNIME >4.3 though.
Could you try to cleanly uninstall the current PIA version first, restart KNIME and install the newest version? Maybe this does the trick.

[2022-01-21 08:28] algalcms commented on #186
Hi,
After clean installation I still have the same problem. It seems, that there is problem with PIA compiler. Other components were loaded successfully.

[2022-01-27 14:35] julianu commented on #186
I would expect this error, if for some reason a wrong Java version was used. But this should not be possible with KNIME.

Last week, new versions of PIA were released. Could you please try again to upgrade and, if this does not help, try a clean installation of KNIME? You could just download the zipfile version and unzip it anywhere, to not interfere with your current KNIME version.

[2022-01-28 08:06] algalcms commented on #186
Hi,
thank you for your help. Ill try to do this things during next week, now I am busy with evaluation of LC/MS data by another pathway. Ill let you know about the results.